
*.prefs

*.classpath
*.project
mi-parent/*/.settings/org.eclipse.wst.common.project.facet.core.xml
*.component
mi-parent/mi-base-common/target/*
mi-parent/mi-base-dao/target/*
mi-parent/mi-base-model/target/*
mi-parent/mi-base-api/target/*
mi-parent/mi-base-service-interface/target/*
mi-parent/mi-base-service-system/target/*
mi-parent/mi-base-web-admin/target/*
mi-parent/mi-base-web-site/target/*
mi-parent/mi-base-common/target/*
mi-parent/*/.settings/.jsdtscope 
mi-parent/*/.settings/org.eclipse.wst.jsdt.ui.superType.container
mi-parent/*/.settings/org.eclipse.wst.jsdt.ui.superType.name
